
* {
	box-sizing: border-box;
}

body {
	font-family: 'Work Sans', sans-serif;	
	font-size: 1em;
	font-weight: 300;
	line-height: 1.4em;
	-webkit-font-feature-settings: "liga", "dlig";
}

p {

}

h1, h2 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	-webkit-font-feature-settings: "liga", "dlig";
}

h1 {
	font-size: 1.75em;
	line-height: 1.5em;
	margin-bottom: 2em;
}

h2 {
	font-size: 1.3em;
	margin-bottom: 2em;
}

img { 
	max-width: 100%;
	display:block; 
}

a {
	text-decoration: none;
	color: #000;
}









.wrapper {
	margin: auto;
	max-width: 1350px;
}

header {
	padding: 2em 0;
}

footer {
	padding: 2em 0;
}

.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.col-4 {
	width: 33.33330%;
}

.col-6 {
	width: 50%;
}

.col-8 {
	width: 66.66660%;
}

.col-12 {
	width: 100%;
}




/* SVG Animate Styles */



.w_logo {
    -webkit-animation: in 1s;
    transform-origin: 50% 50%;
}

.w_logo:hover {
    -webkit-animation: out 1s;
}

@-webkit-keyframes in {
    from   { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg);}
}

@-webkit-keyframes out {
    0%   { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(0deg); }
}


/* Twitter Block */
blockquote.twitter-tweet {
	margin-top: 10%;
}

blockquote.twitter-tweet a {
	border-bottom: 1px solid #ddd;
}

blockquote.twitter-tweet a:hover {
	color: #ddd;
}

blockquote.twitter-tweet:after {
  content: '';
  display: block;
  height: 30px;  /*height of icon */
  width: 30px;  /*width of icon */
  display: cover;
  position: absolute;
  margin: 1em 0 0 0;
    /*background */
  background: url('../img/twitter-icon.svg') no-repeat 0px 0px;
  background-size:cover;
}


/* Fade IMGS on Hover */

.an {background: url('../img/an_2.jpg');}
.jf {background: url('../img/jf_2.jpg');}
.sh {background: url('../img/sh_2.jpg');}
.na {background: url('../img/na_2.jpg');}
.eh {background: url('../img/eh_2.jpg');}
.su {background: url('../img/su_2.jpg');}
.sp {background: url('../img/sp_2.jpg');}
.gr {background: url('../img/gr_2.jpg');}
.hs {background: url('../img/hs_2.jpg');}
.pa {background: url('../img/pa_2.jpg');}
.st {background: url('../img/st_2.jpg');}
.gr {background: url('../img/gr_2.jpg');}
.ii {background: url('../img/ii_2.jpg');}
.mu {background: url('../img/mu_2.jpg');}
.br {background: url('../img/br_2t.jpg');}


.reveal {
	background-size: cover;
	overflow: hidden;
	float: left;
}

.reveal img, .reveal img:hover {
	opacity: 1;
   transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.reveal img {
	width: 100%;
	height: auto;
	opacity: 1;
}

.reveal img:hover {
	opacity: 0;
}



/* Fade site in */

body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}






/* Nav */

nav ul{
  list-style: none;
  margin: 0; 
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
	align-items: center;
  -webkit-flex-flow: row wrap;
  /*justify-content: flex-end;*/
}


nav li {
  margin: 0 0 0 3em;
}

nav li:first-child {
  margin: 0 auto 0 0;
}

nav li:first-child a {
  padding: 1em 1em 1em 0;
}

nav li:last-child a {
  padding: 1em 0 1em 1em;
}

nav a {
  display: block;
  padding: 1em;
}



@media all and (max-width: 1400px) {

  header, footer {
    margin: 0 2em;
  }

}

@media all and (max-width: 900px) {

  .col-4 {
    width: 50%;
  }

  .col-8 {
    width: 100%;
  }

  .col-12 {
    width: 100%;
  }

}

@media all and (min-width: 900px) and (max-width: 1025px) {

  blockquote.twitter-tweet {
    font-size: .8em;
    margin-top: 7.5%;
  }

}


@media all and (max-width: 700px) {

  .col-4 {
    width: 100%;
  }

  blockquote.twitter-tweet, .reveal.br {
    display: none;
  }

}






/* Nav 

@media all and (max-width: 800px) {


  nav {
    justify-content: space-around;
  }

}




@media all and (max-width: 600px) {




  nav {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  nav a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  nav li:last-of-type a {
    border-bottom: none;
  }
}


*/